:root {
  --second-font: 'Noto Sans', sans-serif;
  --main-text-color: black;
  --border-r: 10px;
}

@mixin titles {
  font-family: 'Tomorrow', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #ff034e;
  display: grid;
  justify-content: left;
}

@mixin inputs {
  width: 30vw;
  padding: 10px 10px 10px 50px;
  margin: 30px 20px 30px 20px;
  background-color: #d1d1d1;
  display: grid;
  justify-content: space-between;
}


body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  background: url(Pictures/icecream.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  grid-auto-rows: minmax(100px, auto);
}

#main {
  width: 50vw;
  height: auto;
  background-color: white;
  padding: 50px;
  display: grid;
  justify-content: center;
}

h1 {
  @include titles;
  font-size: 50px;
  margin-bottom: 50px;
}

label, p {
  @include titles;
}


input[type=text] {
  @include inputs;
  box-sizing: border-box;
  font-family: var(--second-font);
  border-radius: var(--border-r);
}
input[type=text]:valid {
  background: url(Pictures/icon-check.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
}


select {
  @include inputs;
  border: none;
  border-radius: 4px;
  border-radius: var(--border-r);
}

textarea {
  @include inputs;
  width: 100%;
  height: 150px;
  font-family: var(--second-font);
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: var(--border-r);
  resize: none;
}


#flavor {
  @include inputs;
}

div {
  flex-direction: column;
}