:root {
  --second-font: 'Noto Sans', sans-serif;
  --main-text-color: black;
  --border-r: 10px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(Pictures/icecream.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  grid-auto-rows: minmax(100px, auto);
}

#main {
  width: 40vw;
  height: 100%;
  background-color: white;
  padding: 50px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  font-family: 'Tomorrow', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #05b099;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 50px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

label, p {
  font-family: 'Tomorrow', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #05b099;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  display: block;
}

#description {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  font-size: 25px;
}

input[type=text], input[type=email], input[type=number] {
  width: 30vw;
  padding: 10px 10px 10px 50px;
  margin: 30px 20px 30px 20px;
  background-color: #d1d1d1;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--second-font);
  border-radius: var(--border-r);
}

input[type=text]:valid {
  background: url(Pictures/icon-check.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

input[type=email]:valid {
  background: url(Pictures/icon-check.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

input[type=number]:valid {
  background: url(Pictures/icon-check.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

select {
  width: 30vw;
  padding: 10px 10px 10px 50px;
  margin: 30px 20px 30px 20px;
  background-color: #d1d1d1;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
  border: none;
  border-radius: 4px;
  border-radius: var(--border-r);
  outline: none;
}

#flavor {
  width: 30vw;
  padding: 10px 10px 10px 50px;
  margin: 30px 20px 30px 20px;
  background-color: #d1d1d1;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
}

textarea {
  width: 30vw;
  padding: 10px 10px 10px 50px;
  margin: 30px 20px 30px 20px;
  background-color: #d1d1d1;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
  width: 100%;
  height: 150px;
  font-family: var(--second-font);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: var(--border-r);
  resize: none;
}

#submit-button {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  background-color: #05b099;
  color: white;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 50px;
  outline: none;
}

button:hover {
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  color: #05b099;
  border: 2px solid #05b099;
}
/*# sourceMappingURL=style.css.map */